.place-card{
    background: var(--color-box-base);
    border: 1px solid var(--color-line-in-white);
    border-radius: 0.8rem;
    margin-top: 2.4rem;
    overflow: hidden;
}

.place-card header {
    padding: 3.2rem 2rem;

    display: flex;
    align-items: center;
}

.place-card header img {
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
}

.place-card-content, 
.place-card header div {
    margin-left: 2.4rem;
}

.place-card header div strong {
    font: 700 2.4rem Archivo;
    display: block;
    color: var(--color-text-title);
}

.place-card header div span {
    font-size: 1.6rem;
    display: block;
    margin-top: 0.4rem;
}

.place-card-content {
    display: flex;
    align-items: center;
}

.place-card-content + .place-card-content {
    margin-top: 1rem;
}

.place-card-content img {
    width: 3.2rem;
    height: 3.2rem;
}

.place-card-content strong {
    font-size: 1.3rem;
}

.place-card > p {
    margin-top: 1rem;
    padding: 0 2rem;
    font-size: 1.6rem;
    line-height: 2.8rem;
}

.place-card footer {
    padding: 3.2rem 2rem;
    background: var(--color-box-footer);
    border-top: 1px solid var(--color-line-in-white);
    margin-top: 3.2rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.place-card footer a {
    padding: 0.5rem;
    border: 1px solid var(--color-primary);
    border-radius: 0.8rem;
    cursor: pointer;
    text-align: center;
    color: var(--color-primary);
    font-size: 1.6rem;
    /* display: block; */
    transition: 0.2s;
}

.place-card footer a:hover {
    opacity: 0.6;
}

.place-card footer .whatsapp {
    width: 10rem;
    height: 5.6rem;
    background: var(--color-secundary);
    color: var(--color-button-text);
    border-radius: 0.8rem;
    cursor: pointer;
    text-decoration: none;
    border: none;
    font: 700 1.4rem Archivo;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    transition: 0.2s;
}

.place-card footer .whatsapp:hover {
    background: var(--color-secundary-dark);
}

@media (min-width: 350px) {
    .place-card footer .whatsapp {
        width: 14.5rem;
        font-size: 1.2rem;
        justify-content: center;
    }

    .place-card footer .whatsapp img {
        margin-right: 0.5rem;
    }
}

@media (min-width: 700px) {
    .place-card header,
    .place-card footer {
        padding: 3.2rem;
    }

    .place-card > p {
        padding: 0 3.2rem;
    }

    .place-card footer p strong {
        display: initial;
        margin-left: 1.6rem;
    }

    .place-card footer .whatsapp {
        width: 24.5rem;
        font-size: 1.6rem;
        justify-content: center;
    }

    .place-card footer .whatsapp img {
        margin-right: 1.6rem;
    }
} 